.main-header-content {
    margin-top: 30px;
}
.hero-section-heading-div{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-section-heading-div>h1{
    color:white;
    font-size: 50px;
}
.hero-section-heading-div>h1>span{
   color: rgb(239, 176, 15);
   font-weight: 600;
   /* font-family: cursive; */
}
.hero-section-heading-div>p{
    font-size: 14px;
    font-weight: 400;
}
.hero-section-heading-div>button{
    margin-top: 30px;
}
.header-text-div p {
    font-size: 50px;
    color: white;
    text-align: left;
    margin: 0px;
}
.header-text-div{
    margin-top: 15px;
}
.header-text-div>p{
    display: flex;
     line-height: normal;
     border:2px solid green
}
.header-text-div p:nth-child(even) {
    font-weight: bold;
}

.header-text-des {
    font-size: 14px;
    color: white;
    margin-top: 20px;
    text-align: justify;
    letter-spacing: 0.5px;
}

.header-text-btn {
    width: 130px;
    height: 45px;
    background: #EDFCF9;
     border: none;
    border-radius: 4px;
    padding: 10px 28px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 15px;
    font-weight: 500;
}

.main-header-img {
    border: 1px solid none;
}

.header-img-div {
    flex-wrap: nowrap !important;
    margin: 10px 0px;
}

.header-img-div:first-child {
    transform: translateY(50px);
    z-index: 10;
}

.header-img-div-1 {
    width: 190px;
    height: 250px;
    padding: 10px 7px;
    background-color: white;
}

.header-img-div-1:first-child {
    transform: rotate(-10deg);
    z-index: 10;
}

.header-img-div-1:last-child {
    transform: rotate(3deg);
}

.header-img {
    width: 100%;
    height: 90%;
}

/* -----------------media query--------------- */
@media screen and (max-width:769px) {
    .header-text-div p {
    font-size: 35px;
}
}
@media screen and (max-width:769px){
.header-img-div-1 {
    width: 100px;
    height: 150px;
    padding: 10px 7px;
    background-color: white;
}
}