/* * {
    padding: 0px !important;
    margin: 0px !important;
} */
.navbar-container{
    background: #023A15;
    padding: 15px 0px;
}
.main-nav-text p {
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: var(--para-font-2);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.main-nav-text p:last-child {
    font-family: var(--para-font-1);
    font-weight: normal;
    margin-top: 5px;
}


.nav-link {
    font-family: (--para-font-2);
    font-size: 18px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    transition: none;
    /* Apply transition effect to width */

}

.nav-link:hover {
    color: white;
}

.nav-link:focus {
    color: white;
}