.main-contact {
    /* position: relative; */
    /* top: 40px; */
    padding-top: 90px;
    padding-bottom: 50px;
    background-image: url('./ContactImages/contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}