.main-login-registration {
    /* position: relative; */
    top: 40px;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-top: 90px;
    padding-bottom: 50px;
    align-items: flex-start;
    background: red;
    background-image: url("./LoginRegistrationImages/login-nature.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    align-items: center;
}

@media (max-width: 800px) {
    .main-login-form {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .main-login-form {
        width: 88%;
    }
}